@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Nunito:300);

$include-html-classes: false;
$include-html-global-classes: true;
$include-html-type-classes: true;

$body-font-family: "Nunito", Helvetica, Arial, sans-serif;
$header-font-family: "Nunito", Helvetica, Arial, sans-serif;


$primary-color: #588729;
$subheader-font-color: #D94436;

$anchor-font-color-hover: #F26237;

@import 'normalize';

@import 'foundation/_variables';
@import
  'foundation/components/global',
  'foundation/components/type',
  'foundation/components/side-nav',
  'foundation/components/grid';

body {padding: 2em 0 5em;}

a { @include single-transition(color); }


#page { @include grid-row; 
  &.no-sidebar #content {@include grid-column(12);}
  &.with-sidebar #content { @include grid-column(9); }
}

#sidebar { @include grid-column(3);
  section h1 { font-size: emCalc(22); }
  nav ul { @include side-nav; }
  header+nav ul  { padding-top: 0;}
}
