<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>{{ page.title }}</title>

        <link rel="icon" type="image/png" href="favicon.png">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/custom.modernizr.js"></script>
    </head>

    <body>
      {% capture sidebar %}
        {% include series_sidebar.html %}
      {% endcapture %}

      <div id="page" class='{% if sidebar %}with-sidebar{% else %}no-sidebar{% endif %}'>
        <div id="sidebar">
          <header>
            <h1><a href="/">{{ site.name }}</a></h1>
          </header>
          {{ sidebar }}
        </div>
        <section id="content">
          {{ content }}
        </section>
      </div>

    </body>
</html>
