<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>{{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/custom.modernizr.js"></script>

    </head>
    <body>


      {% capture sidebar %}

        {% if page.series | size > 0 %}
        <section id="series">
          <header><h4>
            <small>This series</small><br />
            {{ page.series_title }}
          </h4></header>
          <nav>
            <ul>
              <li class="divider"></li>
              {% for related in page.series %}
              {% for post in site.posts %}
              {% if post.id == related %}
              <li {% if page.id == post.id %}class='active'{% endif %}>
                <a href="{{ post.url }}">{{ post.short_title }}</a>
              </li>
              {% endif %}
              {% endfor %}
              {% endfor %}
              <li class="divider"></li>
            </ul> 
          </nav>
        </section>
        {% endif %}
      {% endcapture %}

      <div id="page" class='{% if sidebar %}with-sidebar{% else %}no-sidebar{% endif %}'>
        <div id="sidebar">
          <header>
            <h1><a href="/">{{ site.name }}</a></h1>
          </header>
          {{ sidebar }}
        </div>
        <section id="content">
          {{ content }}
        </section>
      </div>

    </body>
</html>
